
<div class="space"></div>
<div class="container mt-5 pt-5">
    <h1 class="text-center mb-4">Contact Information</h1>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp">   
                <div class="card-body">
                    <h5 class="card-title">seif el din shady abdelsalam</h5>
                    <a href="https://www.linkedin.com/in/seifeldin-shady-576ab1177/" class="btn btn-primary">LinkedIn</a>
                    <a href="github.com/SeifEldinShady004" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp animate__delay-1s">
                <div class="card-body">
                    <h5 class="card-title">Belal Gadelmoula </h5>
                    <a href="https://www.linkedin.com/in/belal-gadelmawla-549b0921a/" class="btn btn-primary">LinkedIn</a>
                    <a href="https://github.com/belalgadelmawla" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp animate__delay-2s">

                <div class="card-body">
                    <h5 class="card-title">Roqaya Ashraf
                    </h5>
                    <a href="https://www.linkedin.com/in/roqayaashraf157" class="btn btn-primary">LinkedIn</a>
                    <a href="https://github.com/Roqayaashraf1 " class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp animate__delay-3s">
                <div class="card-body">
                    <h5 class="card-title">Saif Hesham  </h5>
                    <a href="https://www.linkedin.com/in/saif-hesham-75659a2a4/" class="btn btn-primary">LinkedIn</a>
                    <a href="https://www.github.com" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp animate__delay-4s">
                <div class="card-body">
                    <h5 class="card-title">omar_abdelazime
                    </h5>
                    <a href="#" class="btn btn-primary">LinkedIn</a>
                    <a href="#" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="col-md-4">
            <div class="card animate__animated animate__fadeInUp animate__delay-5s">
                <div class="card-body">
                    <h5 class="card-title">Kareem Bakr </h5>
                    <a href="https://www.linkedin.com" class="btn btn-primary">LinkedIn</a>
                    <a href="https://www.linkedin.com/in/kareem-bakr-927367247/" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>