<header>
    <div id="menu-bar" class="fas fa-bars" (click)="toggleMenu()"></div>
    <a href="#" class="logo">TRAVEL <span>blog</span></a>
    <nav class="navbar" [class.active]="isMenuOpen">
        <a [routerLink]="'home'">Home</a>
        <a [routerLink]="'blogs'">Blogs</a>
        <a [routerLink]="'dashboard'">Dashboard</a>
    </nav>
    <div class="icon">
        <i class="fas fa-user" (click)="toggleLoginForm()"></i>
    </div>
</header>
<div class="login-form" [class.active]="isLoginVisible">
    <i class="fas fa-times" id="form-close" (click)="toggleLoginForm()"></i>
    <form (ngSubmit)="onLogin()">
        <h3>login</h3>
        <input type="email" class="box" placeholder="Enter your email" required>
        <input type="password" class="box" placeholder="Enter your password" required>
        <input type="submit" value="login now" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember"> remember me</label>
        <p>forget password? <button>click here</button></p>
        <p>don't have an account? <button type="button" (click)="toggleSignupForm()">sign up</button></p>
    </form>
</div>

<div class="signup-form" [class.active]="isSignupVisible">
    <i class="fas fa-times" id="signup-form-close" (click)="toggleSignupForm()"></i>
    <form (ngSubmit)="onSignup()">
        <h3>sign up</h3>
        <input type="text" class="box" placeholder="Enter your name" required>
        <input type="email" class="box" placeholder="Enter your email" required>
        <input type="password" class="box" placeholder="Enter your password" required>
        <input type="password" class="box" placeholder="Confirm your password" required>
        <input type="submit" value="sign up now" class="btn">
        <input type="checkbox" id="terms" required>
        <label for="terms"> I agree to the terms and conditions</label>
        <p>already have an account? <button type="button" (click)="toggleLoginForm()">login here</button></p>
    </form>
</div>


