<div class="head bg-white p-15 between-flex">
  <div class="search p-relative">
    <input
      type="search"
      class="p-10 rad-10"
      name="search"
      placeholder="Type A Keyword"
    />
  </div>
  <div class="icons d-flex align-center">
    <span class="notify p-relative">
      <i class="fa-regular fa-bell fa-lg"></i>
    </span>
    <img src="../../../assets/images/imgs/avatar.png" alt="profile pic" />
  </div>
</div>
<!-- End Head -->
<h1 class="p-relative p-20">Profile</h1>
<div
  class="profile-info bg-white m-20 rad-6 d-flex align-center column-mobile"
>
  <div class="level center-flex dir-column p-20">
    <img src="../../../assets/images/imgs/avatar.png" alt="Profile Picture" />
    <h3 class="mb-15 mt-15">Seif Shady</h3>
    <p class="c-grey fw-bold">80 blogs</p>
    <div class="prog">
      <span data-progress="70"></span>
    </div>
    <div class="stars mb-15">
      <i class="fa-solid fa-star c-orange fs-13"></i>
      <i class="fa-solid fa-star c-orange fs-13"></i>
      <i class="fa-solid fa-star c-orange fs-13"></i>
      <i class="fa-solid fa-star c-orange fs-13"></i>
      <i class="fa-solid fa-star c-orange fs-13"></i>
    </div>
    <p class="c-grey fs-13">Travels Rating</p>
  </div>
  <div class="info w-full">
    <div class="box d-flex block-mobile p-20">
      <p class="c-grey">General Information</p>
      <p class="c-grey">Full Name: <span>Seif Shady</span></p>
      <p class="c-grey">Gender: <span>Male</span></p>
      <p class="c-grey">Country: <span>Egypt</span></p>
      <label for="ch1">
        <input
          type="checkbox"
          name="ch1"
          id="ch1"
          class="toggle-checkbox"
          checked
        />
        <div class="toggle-switch"></div>
      </label>
    </div>
    <div class="box d-flex block-mobile p-20">
      <p class="c-grey">Personal Information</p>
      <p class="c-grey">Email: <span>SeifShady@gmail.com</span></p>
      <p class="c-grey">Phone: <span>+201145659471</span></p>
      <p class="c-grey">Date Of Birth: <span>31/5/2004</span></p>
      <label for="ch2">
        <input
          type="checkbox"
          name="ch2"
          id="ch2"
          class="toggle-checkbox"
        />
        <div class="toggle-switch"></div>
      </label>
    </div>
    <div class="box d-flex block-mobile p-20">
      <p class="c-grey">Job Information</p>
      <p class="c-grey">Title: <span>Full Stack Developer</span></p>
      <p class="c-grey">Programming Language: <span>Python</span></p>
      <p class="c-grey">Years Of Experience: <span>5+</span></p>
      <label for="ch3">
        <input
          type="checkbox"
          name="ch3"
          id="ch3"
          class="toggle-checkbox"
          checked
        />
        <div class="toggle-switch"></div>
      </label>
    </div>
    <div class="box d-flex block-mobile p-20">
      <p class="c-grey">travels Payment</p>
      <p class="c-grey">Payment Method: <span>Paypal</span></p>
      <p class="c-grey">Email: <span>email@website.com</span></p>
      <p class="c-grey">Subscription: <span>Monthly</span></p>
      <label for="ch4">
        <input
          type="checkbox"
          name="ch4"
          id="ch4"
          class="toggle-checkbox"
        />
        <div class="toggle-switch"></div>
      </label>
    </div>
  </div>
</div>
<div class="other-data d-flex gap-20 m-20 column-mobile">
  <div class="skills bg-white rad-6 p-20">
    <h2 class="mb-10">My Travels</h2>
    <p class="c-grey fs-14 mb-10">Complete Travels List</p>
    <div class="skill-group pb-20 pt-20">
      <ul class="center-flex-mobile">
        <li class="btn-shape bg-eee">The Egyptian Museum</li>
        <li class="btn-shape bg-eee">Cairo Citadel</li>
        <li class="btn-shape bg-eee">Tahrir Square</li>
      </ul>
    </div>
    <div class="skill-group pb-20 pt-20">
      <ul class="center-flex-mobile">
        <li class="btn-shape bg-eee">Bibliotheca Alexandrina</li>
        <li class="btn-shape bg-eee">Qaitbay Citadel</li>
        <li class="btn-shape bg-eee">Alexandria Corniche</li>
      </ul>
    </div>
    <div class="skill-group pb-20 pt-20">
      <ul class="center-flex-mobile">
        <li class="btn-shape bg-eee">Al-Sayed Al-Badawi Mosque</li>
        <li class="btn-shape bg-eee">Tanta Museum</li>
      </ul>
    </div>
    <div class="skill-group pb-20 pt-20">
      <ul class="center-flex-mobile">
        <li class="btn-shape bg-eee">Abu Simbel</li>
        <li class="btn-shape bg-eee">Philae Temple</li>
        <li class="btn-shape bg-eee">Aswan High Dam</li>
      </ul>
    </div>
    <div class="skill-group pb-10 pt-10">
      <ul>
        <li class="btn-shape bg-eee">Pyramids</li>
        <li class="btn-shape bg-eee">Hurghada</li>
        <li class="btn-shape bg-eee">Elgouna</li>
      </ul>
    </div>
  </div>
  <!-- Activities -->
  <div class="activities bg-white rad-6 p-20">
    <h2 class="mb-10">Latest Travels</h2>
    <p class="c-grey fs-14">Latest Travels Done By The Traveler</p>
    <!-- Activity -->
    <div
      class="activity gap-20 mt-20 space-between d-flex align-center center-flex-mobile column-mobile"
    >
      <div class="data d-flex column-mobile align-center gap-20">
        <div class="img">
          <img src="../../../assets/images/imgs/aswan.webp" alt="Activity" />
        </div>
        <div class="activity-info txt-c-mobile">
          <p class="mb-10">Aswan</p>
          <p class="c-grey fs-14">Serenity by the Nile, where history flows.</p>
        </div>
      </div>
      <div class="date txt-c">
        <p class="mb-10">	3 Jan 2023</p>
        <p class="c-grey fs-14">1 year</p>
      </div>
    </div>
    <div
      class="activity gap-20 mt-20 space-between d-flex align-center center-flex-mobile column-mobile"
    >
      <div class="data d-flex column-mobile align-center gap-20">
        <div class="img">
          <img src="../../../assets/images/imgs/alex.jpg" alt="Activity" />
        </div>
        <div class="activity-info txt-c-mobile">
          <p class="mb-10">Alexandia</p>
          <p class="c-grey fs-14">The Mediterranean's pearl of ancient and modern charm</p>
        </div>
      </div>
      <div class="date txt-c">
        <p class="mb-10">20 Jan 2022</p>
        <p class="c-grey fs-14">2 Years</p>
      </div>
    </div>
    <div
      class="activity gap-20 mt-20 space-between d-flex align-center center-flex-mobile column-mobile"
    >
      <div class="data d-flex column-mobile align-center gap-20">
        <div class="img">
          <img src="../../../assets/images/imgs/pyramids.jpg" alt="Activity" />
        </div>
        <div class="activity-info txt-c-mobile">
          <p class="mb-10">Pyramids</p>
          <p class="c-grey fs-14">Timeless wonders standing tall in the desert</p>
        </div>
      </div>
      <div class="date txt-c">
        <p class="mb-10">10 Apr 2020</p>
        <p class="c-grey fs-14">4 Years</p>
      </div>
    </div>
    <div
      class="activity gap-20 mt-20 space-between d-flex align-center center-flex-mobile column-mobile"
    >
      <div class="data d-flex column-mobile align-center gap-20">
        <div class="img">
          <img src="../../../assets/images/imgs/Tanta.avif" alt="Activity" />
        </div>
        <div class="activity-info txt-c-mobile">
          <p class="mb-10">Tanta</p>
          <p class="c-grey fs-14">Heart of the Delta, where tradition and spirit unite.</p>
        </div>
      </div>
      <div class="date txt-c">
        <p class="mb-10">25 May 2019</p>
        <p class="c-grey fs-14">5 Years</p>
      </div>
    </div>
  </div>
</div>
