/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Start Box */
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.f-wrap{
  flex-wrap: wrap;
}
.d-grid{
  display: grid;
}
.gap-20{
  gap:20px;
}
.d-block{
  display: block;
}
/* End Box */

/* Start padding and margin */
.p-0{
  padding: 0;
}
.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pt-20{
  padding-top: 20px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-15{
  padding-bottom:15px;
}
.pb-20{
  padding-bottom:20px;
}
.pl-10{
  padding-left:10px;
}
.pl-15{
  padding-left:15px;
}
.pl-20{
  padding-left:20px;
}
.m-0{
  margin: 0;
}
.m-10{
  margin: 10px;
}
.m-20{
  margin: 20px;
}
.mt-0{
  margin-top: 0;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top:20px;
}
.mt-25{
  margin-top:25px;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.ml-10{
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.mb-0{
  margin-bottom: 0;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}

/* End padding and margin */
/* Start color */
.bg-white{
  background-color: white;
}
.bg-eee{
  background-color: #eee;
}
.bg-blue{
  background-color: var(--blue-color);
}
.bg-green{
  background-color: var(--green-color);
}
.bg-orange{
  background-color: var(--orange-color);
}
.bg-red{
  background-color: var(--red-color);
}
/* End color */
/* Start position */
.p-relative{
  position: relative;
}
.p-abs{
  position: absolute;
}
ul{
  list-style: none;
}
a{
  color: #000;
}
/* End position */
/* Start Text align */
.txt-c{
  text-align: center;
}
/* End Text align */
/* Start list style */
.list-none{
  list-style: none;
}
/* End list style */
/* Start Font Size */
.fs-13{
  font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-25{
  font-size: 25px;
}
/* End Font Size */
/* Start Font Weight */
.fw-bold{
  font-weight: bold;
}
/* Start color */
.c-black{
  color: black;
}
.c-white{
  color: white;
}
.c-grey{
  color: var(--grey-color);
}
.c-blue{
  color: var(--blue-color);
}
.c-green{
  color: var(--green-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-red{
  color: var(--red-color);
}
/* End color */
/* Start border */
.rad-6{
  border-radius: 6px;
}
.rad-10{
  border-radius:10px;
}
.rad-half{
  border-radius: 50%;
}
.b-none{
  border:none;
}
.b-ccc {
  border: 1px solid #CCC;
}
/* End border */

/* Start width */
.w-full{
  width: 100%;
}
.w-fit{
  width: fit-content;
}
.h-full{
  height: 100%;
}
/* End width */

/* Start Components */
.between-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dir-column{
  flex-direction: column;
}
.btn-shape{
  padding: 4px 10px;
  border-radius: 6px;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* End Components */

/* Toggle Switchs */

.toggle-checkbox{
  appearance: none;
  display: none;
}
.toggle-switch{
  background-color: #CCC;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: .3s;
  cursor: pointer;
}
.toggle-switch::before{
  content: "\f00d";
  font-family:"Font Awesome 6 free";
  font-weight: 900;
  background-color: #FFF;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#AAA;
  transition: .3s;

}
.toggle-checkbox:checked + .toggle-switch{
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
  content: "\f00c";
  left: 50px;
  color:var(--blue-color);
}
/* End Toggle Switchs */

/* Text Area */
.resize-none{
  resize: none;
}

/* Start Media  */
@media (max-width: 767px){
  .hide-mobile{
      display: none;
  }
  .txt-c-mobile{
      text-align: center;
  }
  .block-mobile{
      display: block;
  }
  .column-mobile{
      flex-direction: column;
  }
  .center-flex-mobile{
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* End Media */


:root{
  --blue-color: #0075ff;
  --blue-alt-color:#0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color:#888;
  --blue:#0080ff
}

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}
